<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <rewrite>
        <rules>
            <!--- Reports Rewrite -->
            <rule name="Rewrite Navigating to Report with Report period and View" stopProcessing="true">
                <match url="^reports/([^/]+)/([^/]+)/(.*)$" ignoreCase="false" />
                <action type="Rewrite" url="index.cfm?REPORT={R:1}&amp;REPORTING_MONTH={R:2}&amp;VIEW={R:3}" appendQueryString="false" />
            </rule>

            <rule name="Rewrite Navigating to Report with Report period" stopProcessing="true">
                <match url="^reports/([^/]+)/(.*)$" ignoreCase="false" />
                <action type="Rewrite" url="index.cfm?REPORT={R:1}&amp;REPORTING_MONTH={R:2}" appendQueryString="false" />
            </rule>

            <rule name="Rewrite Navigating to Report with View" stopProcessing="true">
                <match url="^reports/([^/]+)/(.*)$" ignoreCase="false" />
                <action type="Rewrite" url="index.cfm?REPORT={R:1}&amp;VIEW={R:3}" appendQueryString="false" />
            </rule>

            <rule name="Rewrite Navigating to Report" stopProcessing="true">
                <match url="^reports/(.*)$" ignoreCase="false" />
                <action type="Rewrite" url="index.cfm?REPORT={R:1}" appendQueryString="false" />
            </rule>

            <!--- Apps Rewrite -->
            <rule name="Rewrite Navigating to Apps with View" stopProcessing="true">
                <match url="^apps/([^/]+)/(.*)$" ignoreCase="false" />
                <action type="Rewrite" url="index.cfm?APP={R:1}&amp;VIEW={R:2}" appendQueryString="false" />
            </rule>

            <rule name="Rewrite Navigating to Apps" stopProcessing="true">
                <match url="^apps/(.*)$" ignoreCase="false" />
                <action type="Rewrite" url="index.cfm?APP={R:1}" appendQueryString="false" />
            </rule>

            <!--- Dashboard -->
            <rule name="Redirect Index.cfm URLs to Dashboard">
                <match url="^index.cfm" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{QUERY_STRING}" pattern="fetchData=([^=&amp;]+)" negate="true" />
                    <add input="{QUERY_STRING}" pattern="gfetchData=([^=&amp;]+)" negate="true" />
                    <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                </conditions>
                <action type="Redirect" url="dashboard" appendQueryString="false" />
            </rule>

            <rule name="Rewrite Navigating to Dashboard/Home" stopProcessing="true">
                <match url="^dashboard" ignoreCase="false" />
                <action type="Rewrite" url="index.cfm" appendQueryString="true" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>